name: Blogyy app

on:
  push:
    branches: [main]

jobs:
    build-image:
        runs-on: ubuntu-latest
        env:
          IMAGE_NAME: codersgyan/advance-ai-agent
          IMAGE_TAG: build-${{ github.sha }} # .run_number
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
            - name: Log in to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_PASSWORD }}
            - name: Build Docker image
              run: docker build -t ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} --platform linux/amd64 .
            - name: Push Docker image to Docker Hub
              run: docker push ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

    deploy-swarm:
      name: Deploy the new version to docker deploy-swarm
      runs-on: ubuntu-latest
      steps:
        - name: SSH and update service
          uses: appleboy/ssh-action@v1
          with:
            host: ${{ secrets.SWARM_MANAGER_HOST }}
            username: ${{ secrets.SWARM_USER }}
            key: ${{ secrets.SWARM_SSH_KEY }}
            port: ${{ secrets.SWARM_SSH_PORT }}
          run: |
            set -e

            # 1. Go to your app directory (where compose.yaml lives)
            cd ~/bloggy

            # 2. Pull latest compose.yaml from Git
            git fetch origin main
            git checkout origin/main -- compose.yaml

            # 3. Update the image tag in compose.yaml
            sed -i "s|\(image: codersgyan/advance-ai-agent:\).*|\1${{ github.sha }}|" compose.yaml

            # 4. Deploy (or update) the stack
            docker stack deploy -c compose.yaml bloggy_app
